.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 80px);
}

.container button {
  width: 335px;
}

.agencyLebel {
  margin-top: -11px;
}

.radio {
  display: flex;
  width: 132px;
  margin-top: 10px;
  justify-content: space-between;
}
.radio input {
  height: 22px;
  width: 22px;
}

.CheckCred {
  color: red;
  font-size: 18px;
  text-align: center;
}

.inputs {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}
