.container {
  width: 335px;
  margin: auto;
  height: 100vh;
  position: relative;
}

.titleHeading {
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  height: 68px;
  background: #ffffff;
  font-family: Rubik, Regular;
  padding-top: 27px;
  text-transform: capitalize;
}

.subContainer {
  width: 337px;
  margin: 30px auto 10px auto;
  font-family: Rubik, Regular;
  text-transform: capitalize;
}
.subContainer img {
  height: 76px;
  width: 76px;
  cursor: pointer;
}

.subContainer p {
  font-size: 14px;
  color: #1d2226;
  line-height: 22px;
}

.photoName {
  display: flex;
}

.userImage {
  position: relative;
  margin-bottom: 30px;
}

.icon {
  position: absolute;
  right: -4px;
  bottom: 7px;
}

.userName {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}
.userName p:nth-child(1) {
  font-weight: 520;
}

.userAllInfo {
  box-shadow:
    1px 1px 8px 1px #176ebe,
    inset 1px 1px 2px 1px #0c0b0c8f;
  border-radius: 15px;
  padding: 1rem;
  background-color: #ddcaca4b;
  margin-bottom: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  font-family: Rubik, Regular;
  color: #806d6d;
  gap: 1rem;
}

.userAllInfo p {
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 0px 1px 0px 0px #a19191;
}

.logout {
  margin-left: 18px;
  position: absolute;
  bottom: 60px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1.5rem;
  bottom: 2rem;
}

.modal {
  position: absolute;
  background-color: black;
  border: 2px solid black;
}
